Berikut rules yang harus anda lakukan
1. Mulai terlebih dahulu dengan merekrut team anda
2. Belajar mengenai bagaimana cara anda menggunakan firebase
3. Coba pelajari pembuatan game dengan javascript menggunakan canvas
